/* CSS pour la page CATS */
.header-cat h2{
  text-align: center;
  text-transform: uppercase;
  color: #7FB3D5;
}
.cat{
  text-align: center;
  margin-block: 0;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;

}
.cat p{
  font-size: 15px;
}
.cat h3{
  text-transform: uppercase;
}
.body-cat img{
  width: 500px;
  height: 350px;
  object-fit: cover;
}
.info-cat button{
  background-color: #7FB3D5;
  border: 0;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
  transition: all 200ms ease-in-out;
  cursor:pointer;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.info-cat button:hover{
  background-color: #A9CCE3;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  transform: translateY(-2px);
}