/* name cat */
h2{
  text-align: left;
  text-transform: uppercase;
  color: #7FB3D5;
}

/* image cat */
.cat img{
  width: 500px;
  height: 350px;
  object-fit: cover;
  padding: 25px 30px;
} 

/* description cat */
.cat{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap:20px; 
}
.cat .info-cat{
  text-align: left;
  margin-block: 0;
  max-width: 500px;
  padding : 2px 4px;
}

.cat .info-cat p{
  font-size: 15px;
}
.cat .info-cat h3{
  text-transform: uppercase;
  margin-block: 0;
}

/* table */
.table{
  border: 2x solid black;
}

