.table h2{
  text-align: center;
  text-transform: uppercase;
  color: rgb(12, 11, 11);
}


.table-cat .title{
  font-weight: bold;
  
}
td{
  border: 1px solid black;
  padding: 20px;
}
.table-cat{
  border-collapse: collapse;
  text-align: center;
}
th {
  border: 1px solid black;
  text-transform: uppercase;
  padding: 10px;
}

.table{
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #dbecf7;;
  padding-bottom: 23px;
}